/* [Анна Кот — Практика №3 — Блочна модель, селектори, псевдокласи та медіазапити.] */

/*
В цьому файлі описані правила застосування певного розміру тексту та кольору тла. Зазначте  за допомогою коментарів: які пріоритети відповідають кожному з описаних в файлі правил, і яке з описаних правил буде застосовано.
*/


/*
Структура HTML-документа:

<article id="author-suprun" class="author">
    <div class="name">
        <p>Антон Супрун</p>
    </div>

    <div class="position">
        <p>Викладач курсу Фронтенд</p>
    </div>
</article>
*/


article .name ~ .position { /* 0-2-1 */
    font-size: 1.1em;
    background: #cfcfcf;
}

.author > div p { /* 0-1-2 */
    font-size: 14px;
}

#author-suprun .name { /* 1-1-0  (найвищий пріоритет)*/ 
    font-size: 1.5em;
}

/* замість х впишіть чисельні значення лічильників, наприклад 0-1-0

   стиль, який матиме найвищий пріоритет застосування позначте дописом (найвищий пріоритет); наприклад: 0-1-0 (найвищий пріоритет) */
